.informacoes-pos > div {

  height: 700px;
  padding: 15px 23px;
}

.descricao {
  margin-top: 15px;
}

.descricao p {
  line-height: 1.5;
}

.linha-do-tempo h3 {
  margin-top: 20px;
}

.informacoes-adicionais {
  width: 801px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.informacoes-adicionais > div {
  display: flex;
  flex-direction: column;
}

.painel-anexos,
.painel-comentarios {
  box-sizing: border-box;
  background-color: #f0f0f0;
  border: solid #0a234440 1px;
  border-radius: 0.5em;
  padding: 11px 11px 4px 11px;
}

.painel-anexos {
  display: flex;
  flex-direction: row;
  gap: 28px;
}

.foto {
  width: fit-content;
}

.comentarios {
  margin-top: 20px;
}

.comentario {
  display: flex;
}

.comentario p,
.comentario h4 {
  margin: 0;
}

.dados-pos {
  display: flex;
  white-space: nowrap;
  gap: 20px;
}

.dados-cliente {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.nome-pos h4 {
  font-size: 15px;
  font-weight: bold;
}

.cargo p {
  font-size: 13px;
  font-weight: 600;
}

.div-comentario {
  margin: 3px 0 12px 0;
}
