.kpi-percentage {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 10px;
}

.kpi-percentage.positive {
  color: #38A169; 
}

.kpi-percentage.negative {
  color: #38A169; 
}