.status-tag-detalhes {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 15px;
  color: white;
  font-weight: 700;
  font-size: 14px;
}

.status-pendente { background-color: #E53E3E; }
.status-aprovado { background-color: #38A169; }
.status-analise { background-color: #D69E2E; }