.main-vendas {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: var(--cor-background);
}

.vendas-conteudo-principal {
  flex-grow: 1;
  padding: 40px;
  overflow-y: auto;
}

.secao-vendas {
  margin-bottom: 40px;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
}
