.main-chatpage {
  display: flex;
  height: 100vh;
}

.chat-page-container {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: column;
}

.chat-wrapper {
  display: flex;
  width: 100%;
  flex-grow: 1;
}

.chat-sidebar {
  width: 300px;
  background-color: var(--cor-branca);
  border-right: 1px solid var(--cinza-claro);
  overflow-y: auto;
  height: 100%;
}

.chat-messages-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--cor-background);
}