.secao-de-contratos {
  margin-bottom: 40px;
  padding-top: 0;
}

.secao-de-contratos.full-view {
  padding-top: 20px;
}

.secao-de-contratos.full-view .section-header {
  justify-content: flex-start;
  gap: 20px;
}

.secao-de-contratos.full-view .section-header h2 {
  font-size: 28px;
}

.secao-de-contratos.full-view .cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  row-gap: 25px;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: visible;
  padding-bottom: 0;
}

.secao-de-contratos.full-view .scroll-buttons {
    display: none;
}

.scroll-buttons button:hover {
  background-color: #f7fafc;
}