.main-dashboard {
  display: flex;
  font-family: var(--fonte-principal);
  height: 100vh;
  overflow: hidden;
}

.dashboard-container {
  display: flex;
  flex-grow: 1;
  overflow-x: hidden;
  transition: margin-left 0.3s ease;
}

.dashboard-container.full-width {
  width: 100%;
}

.dashboard-page {
  width: 100%;
  overflow-y: auto;
  max-height: 100vh;
  padding: 40px 40px 0 40px;
  background-color: var(--cor-background);
}