.main-dashboard {
  display: flex;
}

.dashboard-container {
  display: flex;
  flex-grow: 1;
  overflow-x: hidden;
}

.dashboard-page {
  width: 100%;
  overflow-y: auto;
  max-height: 100vh;
  padding: 40px 40px 0 40px;
  background-color: var(--cor-background);
}