.feedback-card {
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #e2e8f0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: var(--cor-principal);
  transition: transform 0.2s, box-shadow 0.2s;
  border-left: 5px solid transparent;
}

.feedback-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.feedback-card.urgent-border {
    border-left: 5px solid #E53E3E;
}

.action-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 13px;
    font-weight: 600;
    color: var(--cor-terciaria);
    transition: color 0.2s;
}
.action-btn:hover, .action-btn.liked {
    color: var(--cor-principal);
}


.read-confirmation {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  font-weight: 600;
  color: var(--cor-terciaria);
  cursor: pointer;
}

.read-confirmation.read {
  color: #38A169;
}

.read-confirmation input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  border: 2px solid var(--cor-terciaria);
}

.read-confirmation.read .custom-checkbox {
  border-color: #38A169;
  background-color: #38A169;
}

.custom-checkbox svg {
  color: white;
  font-size: 10px;
}