.card-colaborador:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.status {
  display: inline-block;
  font-size: 11px;
  font-weight: 900;
  color: var(--cor-branca);
  padding: 4px 12px;
  border-radius: 12px;
  margin: 0 auto 15px auto;
  text-transform: uppercase;
  background-color: #a0aec0;
}

.status.ativo {
  background-color: #38a169;
}
.status.inativo {
  background-color: #e53e3e;
}
.status.em-treinamento {
  background-color: #d69e2e;
}

.btn-detalhes:hover {
  background-color: var(--cor-secundaria);
  cursor: pointer;
}
