.cabecalho-colaboradores {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 30px 0 33px 0;
}

.cabecalho-colaboradores-linha-1 {
  display: flex;
  align-items: center;
  gap: 22px;
}

.cabecalho-colaboradores-linha-1 hr {
  flex-grow: 1;
  height: 1px;
  background-color: #cbd5e0;
  border: 0;
}

.cabecalho-colaboradores-linha-1 h1 {
  font-size: 24px;
  font-weight: 600;
  color: var(--cor-principal);
}

.cabecalho-colaboradores-linha-1 button {
  font-size: 16px;
  font-weight: 900;
  color: var(--cor-branca);
  padding: 6px 14px;
  background-color: var(--cor-principal);
  border: 0;
  border-radius: 4px;
}

.cabecalho-colaboradores-linha-1 button:hover {
  transition: 0.1s ease;
  background-color: var(--cor-secundaria);
}

.cabecalho-colaboradores-linha-2 ul {
  display: flex;
  justify-content: start;
  gap: 10px;
}

.cabecalho-colaboradores-linha-2 li {
  color: var(--cor-secundaria);
  font-weight: 600;
}

.cabecalho-colaboradores-linha-2 ul hr {
  margin: 0;
  border: 0;
  background-color: var(--cinza);
  width: 1px;
}
