.filtro-alternativo {
  display: flex;
  flex-direction: column;
  align-items: self-start;
}

.filtro-dissertativo label,
.filtro-alternativo .titulo {
  font-size: 18px;
  font-weight: 600;
  color: var(--cor-principal);
}

.filtro-dissertativo input {
  border: 1px solid var(--cor-principal-meio-transparente);
  border-radius: 32px;
  width: 230px;
}

.alternativas {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--cor-principal);
  margin-bottom: 5px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
