.detalhes-colaborador {
  display: grid;
  grid-template-columns: 2fr 2fr 1.5fr; /* esquerda, meio, direita */
  grid-template-areas:
    "header header header"
    "info performance feedbacks"
    "info performance acoes"
    "historico treinamentos treinamentos";
  gap: 20px;
  padding: 20px;
}
